<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
   <section class="banner ">
   
         <div id="login" class="pt-5">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6" style="background-color: #fff; color: #009688;">
                    <div id="login-box" class="col-md-12 m-3">
                    
                        <h3 class="text-center mt-3">Change Password</h3>
                         
                        
                        
                        <form th:action="@{/change-userPassword}" method="post">
                        
                            <div class="form-group">

                                <input required="required" type="text" name ="newPassword" class="form-control" placeholder="Enter new password">
                                
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-success ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</body>
</html>