<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <section class="banner d-flex justify-content-center align-items-center">
       <div class="text-center">
           <h1 class="font-weight-bold">Smart Contact Manager</h1>
           <p>Let's start organize, store, and retrieve contacts information.<br>
           ensure seamless connectivity and boosts productivity for personal or professional use</p>
           <button class="btn btn-lg bg-primary text-white">Get Start</button>
       </div>
       
       
       
   </section>
   
</body>
</html>