<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
   <section class="banner ">
   
         <div id="login" class="pt-5">
       
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6" style="background-color: #fff; color: #009688;">
                    <div id="login-box" class="col-md-12 m-3">
                    
                        <h3 class="text-center mt-3">Varify OTP</h3>
                         <div class="alert alert-success" role="alert">
                             OTP sent Successfully...Please Enter OTP below
                        </div>
                        
                        
                        <form th:action="@{/verify-otp}" method="post">
                        <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                            <p th:text="${session.message.content}"></p>
                            <th:block th:text="${@sessionHelper.removeMessage()}"></th:block>
                        </div>
                            <div class="form-group">

                                <input required="required" type="text" name ="otp" class="form-control" placeholder="Enter OTP here">
                                
                            </div>

                            <div class="container text-center">
                                <button class="btn btn-success ">Verify OTP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
</body>
</html>